@media screen and (max-width: 1330px){
    .h2-div {
        font-size: 2em;
    }

    .imgs img {
        height: 90%;
        margin: 0px 50px 0px 100px;
    }

    .content-img {
        max-width: 550px;
        margin: 0px auto;
        margin-right: 9%;
        margin-left: 0;
        border-radius: 0px 40px 40px 0px;
    }
}

@media screen and (max-width: 1110.40px){
    .h2-div {
        top: 17%;
    }

    .imgs img {
        height: 80%;
    }

    .content-img {
        padding: 45px;
    }

    .battle img {
        height: 350px;
        width: 390px;
        margin-top: 17%;
    }

    img.vs {
        width: 230px;
        height: 195px;
    }

    .personagem1 {
        margin-right: -5%;
    }
}

@media screen and (max-width: 998px){
    .h2-div {
        left: 54%;
    }

    .imgs img{
        margin: 0px 0 0px 25px;
    }

    .content-img {
        margin-right: 1%;
    }

    .col-1 h2 {
        font-size: 50px;
    }

    .col-1 h3 {
        font-size: 26px;
    }
}

@media screen and (max-width: 940px){
    .personagem1 {
        margin-right: -10%;
    }
}

@media screen and (max-width: 900px){
    .collor-fight {
        top: 3%;
        left: 1%;
        width: 98%;
    }

    .personagem1::before {
        left: -4%;
    }

    .personagem2::before {
        left: 88%;
        top: 23%;
    }

    .personagem1::before, .personagem2::before {
        font-size: 3.8em;
        width: 16%;
    }
}

@media screen and (max-width: 800px){
    .container{
        margin-bottom: 35%;
        background-position: right;
    }

    .container p{
        font-size: 15px;
    }

    .h2-div {
        margin: auto;
        top: -30%;
        left: 20%;
    }

    .characters{
        margin-bottom: 30%;
        margin-top: 20%;
    }

    section .imgs {
        display: flex;
        background-size: cover;
        background-repeat: no-repeat;
        /* width: 100%; */
        height: 100%;
        /* justify-content: space-between; */
        align-items: center;
        flex-direction: column;
    }

    .content-img {
        padding: 40px;
        width: 70%;
    }

    .vol {
        flex-direction: column;
    }

    .col-1{
        margin-left: -10%;
    }

    .col-1 h2 {
        font-size: 60px;
    }

    .col-1 h3 {
        font-size: 23px;
    }

    .col-1 h4 {
        margin: 15px 0;
        font-size: 17px;
    }

    .col-1 .Btn{
        margin-bottom: 10%;
    }

    .fight {
        margin: 35px auto 15px;
        height: 65%;
        max-width: 100%;
    }

    .collor-fight {
        top: 3%;
        left: 0%;
        width: 100%;
    }

    .personagem1 {
        margin-right: -27%;
    }

    .personagem2 {
        margin-right: -13%;
    }

    .battle img {
        height: 348px;
        width: 300px;
        margin-top: 17%;
    }

    img.vs {
        width: 175px;
        height: 150px;
        margin-left: 15%;
        margin-right: -4%;
    }

    .personagem1::before, .personagem2::before {
        top: 5%;
        height: 9px;
        font-size: 2.8em;
    }

    .personagem1::before {
        left: 6%;
        transform: rotate(360deg);
    }

    .personagem2::before {
        left: 79%;
        transform: rotate(0deg);
    }
    
}

@media screen and (max-width: 645.60px){
    header{
        flex-direction: column;
    }

    .content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .content, .content-img {
        margin-top: 40px;
    }
    
    .content button {
        font-size: 25px;
    }
    
    .container h2{
        font-size: 2em;
    }

    .vol {
        margin: 15em 0 7em 0;
    }

    .col-1 {
        margin: 0px auto 3em 17%;
    }

    .col-1 h2 {
        font-size: 3em;
    }

    .col-1 h3 {
        font-size: 1.3em;
    }

    .col-2 img {
        width: 95%;
    }

    .collor {
        right: 7%;
        width: 75%;
    }

    .battle {
        height: 100%;
    }

    .battle h2{
        font-size: 1.6em;
    }

    .personagem1::before, .personagem2::before {
        height: 7px;
        width: 78px;
        font-size: 1.8em;
    }

    .fight {
        height: 45%;
    }

    .collor-fight{
        height: 100%;
        border-radius: 20px 20px 0 0;
    }

    .personagem1 img, .personagem2 img {
        height: 240px;
        width: 230px;
    }
}

@media screen and (max-width: 567px){
    .characters {
        margin-bottom: 40%;
        margin-top: 45%;
     }

     .h2-div {
        font-size: 1.5em;
    }

    .vol {
        margin: 18em 0 7em 0;
    }

    .collor {
        right: 0%;
        width: 100%;
    }
}

@media screen and (max-width: 548px){
    .container {
        width: 100%;
        margin: 0px auto;
        margin-bottom: 50%;
        background-position: left;
    }

    ul {
        width: 90%;
    }

    .content, .content-img {
        max-height: 50%;
        width: 100%;
        border-radius: 0px;
    }

    .content p {
        width: 280px;
    }    

    .col-1 h3 {
        font-size: 1.2em;
    }
    
    .fight {
        margin: 3em auto 15px;
        height: 65%;
        max-width: 100%;
    }

    .personagem1::before, .personagem2::before {
        top: 10%;
    }

    .personagem1 {
        margin-right: -35%;
    }

    .personagem2 {
        margin-right: -19%;
    }

    img.vs{
        width: 120px;
        height: 90px;
        margin-left: 20%;
        margin-right: 0%;
    }
}

@media screen and (max-width: 480px){
    .fight {
        margin: 3em auto 15px -20px;
        height: 65%;
        min-width: 110%;
    }

    .personagem1 {
        margin-right: -50%;
    }

    img.vs {
        width: 120px;
        height: 90px;
        margin-left: 36%;
        margin-right: -2%;
    }

    .personagem2 {
        margin-right: -23%;
    }

    .personagem1 img, .personagem2 img {
        height: 200px;
        width: 200px;
    }

    .personagem1::before, .personagem2::before {
        height: 7px;
        width: 50px;
        font-size: 1.4em;
    }
}

@media screen and (max-width: 410.40px){
    .personagem1 img, .personagem2 img {
        height: 152px;
        width: 172px;
    }

    .personagem1 {
        margin-right: -70%;
    }    

    img.vs {
        width: 70px;
        height: 60px;
        margin-left: 53%;
        margin-right: 2%;
    }

    .personagem2 {
        margin-right: -38%;
    }
}