@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #ffffff;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; */
}

.container{
    background-image: linear-gradient(to right, #570404ac 30%, #333333c2), url(../img/one-piece.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 90%;
    height: 650px;
    margin: 50px;
}

.container:hover{
    background-image: linear-gradient(to right, #570404ac 30%, #33333373), url(../img/one-piece.jpg);
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

a{
    color: #fff;
    text-decoration: none;
}

.logo{
    font-size: 30px;
    text-transform: uppercase;
}

ul{
    width: 60%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

ul a:hover{
    border-bottom: 2px solid #fff;
}

.content, .content-img{
    margin-top: 50px;
    width: 50%;
    padding: 30px;
    color: #fff;
}

.content h2, .battle h2{
    font-size: 2.5em;
    text-transform: uppercase;
}

.content p{
    initial-letter: 2px;
    width: 420px;
    padding: 20px 0px;
}

.content button{
    font-size: 30px;
    padding: 6px 10px;
    border-radius: 10px;
    border: none;
}

.content button:hover{
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
}

.characters{
    position: relative;
    display: flex;
    height: 70vh;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

.h2-div{
    position: absolute;
    top: 10%;
    left: 52%;
    font-size: 2.5em;
    max-width: 540px;
    text-transform: uppercase;
}

.h2-div::after{
    content: '';
    position: absolute;
    top: 21px;
    left: -40px;
    width: 10px;
    height: 75%;
    background-image: linear-gradient(rgb(0 48 196), rgb(106 142 254));
}

section .imgs{
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

.imgs img{
    height: 100%;
    margin: 0px 0px 0px 100px;
}

.content-img{
    background-color: #012699;
    padding: 60px;
    max-width: 640px;
    margin-right: 7%;
    border-radius: 0px 40px 40px 0px;
}

.vol{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}

.col-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 10%;
}

.col-1 h2{
    font-size: 54px;
}

.col-1 h3{
    font-size: 30px;
    color: #707070;
    font-weight: 100;
    margin: 20px 0 10px;
}

.col-1 p{
    font-size: 16px;
    color: #b7b7b7;
    font-weight: 100;
}

.col-1 h4{
    margin: 30px 0;
    font-size: 20px;
}

.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(255, 65, 65);
  }
  
  /* plus sign */
  .sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sign svg {
    width: 17px;
  }
  
  .sign svg path {
    fill: white;
  }
  /* text */
  .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
  }
  /* hover effect on button width */
  .Btn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
  }
  
  .Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
  }
  /* hover effect button's text */
  .Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
  }
  /* button click effect*/
  .Btn:active {
    transform: translate(2px ,2px);
  }

  .col-1::after{
    content: '';
    position: absolute;
    top: 21px;
    left: -40px;

    width: 10px;
    height: 63%;
    background-image: linear-gradient(rgb(255, 65, 65), rgb(255, 76, 76));
}

.col-2{
    position: relative;
    display: flex;
    align-items: center;
    flex-basis: 60%;
}

.col-2 img{
    width: 100%;
}

.collor{
    position: absolute;
    right: 0;
    top: 0;
    background-image: linear-gradient(rgb(255, 65, 65), rgb(255, 76, 76));
    border-radius: 20px 00 20px;
    height: 100%;
    width: 80%;
    z-index: -1;
    /* transform: translateX(150px); */
}

.battle{
    position: relative;
    padding: 30px;
    height: 690px;
    width: 100%;
}

.battle h2{
    text-align: center;
}

.battle p{
    margin: auto;
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
    max-width: 900px;
}

.battle img{
    height: 400px;
    width: 430px;
}

img.vs{
    width: 230px;
    height: 195px;
}

.fight{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 55px auto 15px;
    background: linear-gradient(rgba(0, 0, 0, 0.305), rgba(0, 0, 0, 0.547)), url(../img/bg-img.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    width: 80%;
}

.btns{
    display: flex;
    justify-content: center;
    padding: 15px;
    padding-bottom: 7%;
}

.btns button{
    height: 50px;
    width: 140px;
}

.btns button:first-child{
    margin: 0 10px 0px;
}

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-family: inherit;
    font-size: 15px;
   }
   
   .change-battle, .start-battle {
    font-weight: 600;
    color: #382b22;
    text-transform: uppercase;
    background: #fff9f0;
    border: 2px solid #b19685;
    border-radius: 0.75em;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
   }
   
   .change-battle::before, .start-battle::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f9d7c4;
    border-radius: inherit;
    -webkit-box-shadow: 0 0 0 2px #b19c85, 0 0.625em 0 0 #ffefe2;
    box-shadow: 0 0 0 2px #b19b85, 0 0.625em 0 0 #ffefe2;
    -webkit-transform: translate3d(0, 0.75em, -1em);
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
   }
   
   .change-battle:hover, .start-battle:hover {
    background: #fff1e9;
    -webkit-transform: translate(0, 0.25em);
    transform: translate(0, 0.25em);
   }
   
   .change-battle:hover::before, .start-battle:hover::before{
    -webkit-box-shadow: 0 0 0 2px #b19885, 0 0.5em 0 0 rgb(255, 241, 226);
    box-shadow: 0 0 0 2px #b19785, 0 0.5em 0 0 rgb(255, 237, 226);
    -webkit-transform: translate3d(0, 0.5em, -1em);
    transform: translate3d(0, 0.5em, -1em);
   }
   
   .change-battle:active, .start-battle:active {
    background: #fff1e9;
    -webkit-transform: translate(0em, 0.75em);
    transform: translate(0em, 0.75em);
   }
   
   .change-battle:active::before, .start-battle:active::before {
    -webkit-box-shadow: 0 0 0 2px #b19685, 0 0 #ffede2;
    box-shadow: 0 0 0 2px #b18597, 0 0 #ffefe2;
    -webkit-transform: translate3d(0, 0, -1em);
    transform: translate3d(0, 0, -1em);
   }